<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>안녕하세요! 저는 이수연입니다. 파이썬을 주력으로 데이터 사이언티스트로 활동하고 있습니다.
          또한, ADSP 데이터 준 전문가 자격을 취득 데이터 분야에서의 심도 있는 전문 지식을 쌓아가고 있으며 
          새로운 연구와 도전에 대한 열정으로 인사이트를 발견하려 노력하고 있습니다.
          주요 프로젝트로는 [AI DATA 경진대회] 기차 대차 이상 소음원 위치 감지 AI 시스템 참여가 있습니다.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Hello! My name is Sooyeon Lee, and I work as a data scientist specializing in Python. I've earned the ADSP (Advanced Data Analytics Semi-Professional) certification and continuously build expertise in the field of data science. I have a passion for discovering insights through new research and challenges.
        </p>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="https://github.com/LEESUSUSUSU" class="btn btn-lg btn-outline">
        GitHub
      </a>
    </div>
  </div>
  </div>
</section>